<div class="aside">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <div >TODO write content</div>
                <button type="button" class="close" ng-click="$hide()">×</button>
            </div>
            <div class="aside-body">

                <geo-location class="col-lg-12 col-xs-12 no-padding" id="geolocation1"  data-loading="loading" data-interncoords="coords" ></geo-location>
                <div class="clearfix"></div>


            </div>
            <div class="aside-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>


