<div class="panel panel-default col-lg-6 col-xs-12">
    <div class="panel-heading action col-lg-6 col-xs-6" 
	 data-target="#panel-1" 
	 data-toggle="collapse" 
	 aria-expanded="false">
	Position
    </div>
    <div class="panel-heading col-lg-6 col-xs-6 control">
	&nbsp;
	<div class="pull-right action" data-ng-click="refreshPosition()">
	    <span class="glyphicon glyphicon-repeat"></span>
	</div>
    </div>
    <div id="panel-1" class="panel-body collapse in">
	<div id="map" class="coords-block">
	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="map-canvas"></div>
	</div>
    </div>
</div>
