<div class="panel panel-default col-lg-6 col-xs-12">
    <div class="panel-heading action col-lg-6 col-xs-6" data-target="#panel-2" data-toggle="collapse" aria-expanded="false">Weather</div>
    <div class="panel-heading col-lg-6 col-xs-6 control" >&nbsp;
	<div class="pull-right action "><span class="glyphicon glyphicon-repeat" data-ng-click="refreshWeather()"></span>
	</div>
    </div>

    
    <div id="panel-2" class="panel-body collapse in">
	    <h1>Temperature in {{weather.getCityName()}} <img ng-src="{{weather.getIcon()}}" /></h1>
	    <h3>Current: {{weather.getTemperature()}}&deg;C</h3>
	    <h4>Min: {{weather.getMinTemperature()}}&deg;C, Max: {{weather.getMaxTemperature()}}&deg;C </h4>
    </div>
</div>