/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.06.2015, 15:10:59
    Author     : rico.mutze
*/
/* Background Colors */
/* Link und Button Colors */
/* Font Style */
/* Media Queries definition*/
/* height */
